@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NotoSansArabic";
  src: url("/fonts/NotoSansArabic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NotoSansArabic", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #383838cc;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media print {
  .print-header {
    @apply block fixed top-0 w-full bg-white text-center border-b border-black;
  }

  .print-content {
    @apply mt-24; /* Adjust based on header height */
    page-break-before: always;
  }

  @page {
    margin: 20mm;
  }
}
